div {height:700px;
     width:1520px;
	 margin:0px 0px 0px 0px;
	 border:1px solid;
	 border-color:gray}

#sai {height:55px;
      width:1521px;
	  background-color:navy;
	  border:0px}

#l1 {color:white;
     font-size:28px;
	 margin:10px 0px 0px 20px;
	 float:left}

#a3 {color:white;
     font-size:18px;
	 margin:15px 100px 0px 0px;
	 float:right}

#psr {height:380px;
      width:1400px;
	  margin:80px 0px 0px 70px;
	  float:left;
	  border:0px}

#raj {height:55px;
      width:1521px;
	  background-color:gray;
	  border:0px;
	  margin:591px 0px 0px 0px}

#l2 {margin:20px 0px 0px 0px;
     float:left}

#l3 {font-size:30px}

table {margin:50px 0px 0px 0px}

#i4 {width:1015px}

.l4 {margin:0px 0px 0px 150px}

#sak {width:150px;
      height:22px}

#l5 {height:35px;
     width:110px;
	 background-color:navy;
	 color:white;
	 font-weight:bold;
	 margin:10px 0px 0px 0px}

#l6 {color:green;
     font-size:20px;
	 font-weight:bold}

#a1 {color:white;
     font-size:18px;
	 margin:15px 40px 0px 0px;
	 float:right}

#a2 {color:white;
     font-size:18px;
	 margin:15px 100px 0px 0px;
	 float:right}

#l7 {color:green;
     font-size:20px;
	 font-weight:bold;
	 margin:0px 0px 0px 350px }

#aaa {margin:0px 0px 0px 300px}

#bbb {margin:0px 0px 0px 120px}

#ccc {margin:0px 0px 0px 60px}

#ddd {margin:0px 0px 0px 65px
     }
.c5 {margin:0px 0px 0px 335px}

.c6 {margin:0px 0px 0px 85px;
     float:right}

.c7 {margin:0px 0px 0px 50px
    }
.c8 {margin:0px 0px 0px 50px;
     color:black}

.c9 {margin:15px 0px 15px 0px;
     float:left}

.eee {margin:0px 0px 0px 160px}

.fff {margin:10px 0px 10px 50px;
      float:right}

.ggg {margin:0px 0px 0px 20px;
      color:black}

.hhh {margin:0px 0px 0px 150px}

.iii {margin:10px 0px 10px 40px;
      float:right}

.jjj {margin:0px 0px 0px 20px;
      color:black}

#l8 {color:green;
     font-size:20px;
	 font-weight:bold;
	 margin:0px 0px 0px 180px }

.ppp {margin:10px 0px 10px 140px;
      float:right}

.qqq {color:black;
      margin:0px 0px 0px 23px}

#trs {margin:0px 0px 0px 50px}

#tdp {margin:0px 0px 0px 40px}

#bjp {margin:0px 0px 0px 30px}

#jsp {margin:0px 0px 0px 10px}

#aicp {margin:0px 0px 0px 10px}

.rrr {margin:0px 0px 0px 60px}

.sss {margin:0px 0px 0px 50px}

.ttt {margin:0px 0px 0px 20px}

.uuu {margin:0px 0px 0px 45px}

.vvv {margin:0px 0px 0px 35px}

#kkk {margin:0px 0px 0px 150px}

#lll {margin:0px 0px 0px 70px}

#mmm {margin:0px 0px 0px 53px}

#nnn {margin:0px 0px 0px 45px}

.apple {margin:0px 0px 0px 185px}

.mango {margin:10px 0px 10px 30px;
        float:right}

.grapes {margin:0px 0px 0px 40px}

.orange {margin:0px 0px 0px 30px;
         color:black}

#water {text-align:right}

#abcd {height:20px;
       width:20px;
	   margin:0px 0px 0px 0px}

#xyz {height:15px;
      width:15px}

#img {height:30px;
      width:30px;
	  margin:10px 0px 0px 10px}

     
   